@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: #fff !important;
}

::placeholder{
  color: #ededed !important;
}

input{
  background-color: #10543788 !important;
}

body{
  background: url('./images/hero.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto";
}

.btn-sm {
  height: 2.5rem/* 32px */;
  min-height: 2.5rem/* 32px */;
  padding-left: 0.75rem/* 12px */;
  padding-right: 0.75rem/* 12px */;
  font-size: 0.875rem/* 14px */;
}

.btn {
  display: inline-flex;
  height: 3rem/* 48px */;
  min-height: 3rem/* 48px */;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-btn, 0.5rem/* 8px */);
  border-color: transparent;
  border-color: oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity));
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  text-align: center;
  font-size: 0.875rem/* 14px */;
  line-height: 1em;
  gap: 0.5rem/* 8px */;
  font-weight: 600;
  text-decoration-line: none;
  text-decoration-line: none;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  transition-property: color, background-color, border-color, opacity, box-shadow, transform;
  --tw-text-opacity: 1;
  color: #d1d5db;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: var(--fallback-bc,oklch(var(--bc)/1));
  background-color: #7f1d1d;
  border: none
}

.btn:hover{
  background-color: #991b1b;
  border: none
}

.first-letter{
  color: #491b1b !important;
}

.chatify{
  color: #7f1d1d !important;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #10543788;
}

::-webkit-scrollbar-thumb {
	background: #2B110E;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #2B110E;
}

.btn-circle{
  border-radius: 9999px !important;
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}